:root {
  --code-background-color: #1e1e1e;
  --code-line-numbers-color: rgb(115 138 148 / 60%);
  --spacing-1_5: 0.75rem;
  --ribbon-indent: var(--spacing-1);
}

pre.shiki {
  border-radius: var(--radius-lg);
}

.shiki code {
  overflow-x: auto;
  display: block;
  padding: var(--spacing-1_5) 0;
}

.shiki .line {
  padding: 0 var(--spacing-2);
}

.filename {
  position: relative;
  padding: var(--spacing-1_5) var(--spacing-2);
  background-color: var(--code-background-color);
  color: var(--color-gray-300);
  border-top-right-radius: var(--radius-lg);
  border-top-left-radius: var(--radius-lg);
  font-family: var(--font-family-mono);
  border-bottom: 1px solid var(--code-line-numbers-color);
}

.filename + pre {
  margin-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.line-numbers {
  counter-reset: step;
  counter-increment: step 0;
}

code.line-numbers .line::before {
  content: counter(step);
  counter-increment: step;
  width: 1em;
  margin-right: var(--spacing-2);
  display: inline-block;
  text-align: right;
  color: var(--code-line-numbers-color);
}

/* Ribbons */
.filename.javascript::after,
.filename.js::after,
.filename.glimmer-js::after,
.filename.gjs::after,
.filename.typescript::after,
.filename.ts::after,
.filename.glimmer-ts::after,
.filename.gts::after,
.filename.handlebars::after,
.filename.hbs::after {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: var(--radius-lg);
  bottom: var(--radius-lg);
  right: 0;
  padding-left: var(--spacing-3);
  padding-right: var(--spacing-2);
  color: var(--code-background-color);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-3);
  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    0 100%,
    0 calc(100%),
    var(--ribbon-indent) 50%,
    0 0
  );
}

.filename.javascript::after,
.filename.js::after {
  content: 'JS';
  background-color: #f5e090;
}

.filename.typescript::after,
.filename.ts::after {
  content: 'TS';
  background-color: #8fc2f5;
}

.filename.glimmer-js::after,
.filename.gjs::after {
  content: 'GJS';
  background-color: #f5e090;
}

.filename.glimmer-ts::after,
.filename.gts::after {
  content: 'GTS';
  background-color: #8fc2f5;
}

.filename.handlebars::after,
.filename.hbs::after {
  content: 'HBS';
  background-color: #c3f590;
}

/* Line highlighting */
.shiki .line.remove {
  background-color: rgba(244, 63, 94, 0.16);
  opacity: 0.8;
}

.shiki .line.add {
  background-color: rgba(16, 185, 129, 0.16);
}

.shiki code > .line {
  box-sizing: border-box;
  display: inline-block;
  min-width: 100%;
}
