:root {
  --shiki-line-numbers-color: rgb(115 138 148 / 60%);
  --shiki-ribbon-indent: 0.5rem;
  --shiki-diff-border-width: 0.4rem;
  --shiki-filename-background-color: #2b2d34; /* Use color-gray-800 from the Ember Styleguide */
}

pre.shiki {
  border-radius: 0.625rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.shiki code {
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  padding: 0.75rem 0;
  font-size: 1rem;
  line-height: 1.6;
}

.shiki .line {
  padding: 0 1rem;
}

.filename {
  position: relative;
  padding: 0.75rem 1rem;
  background-color: var(--shiki-filename-background-color);
  color: #dce0e6;
  border-top-right-radius: 0.625rem;
  border-top-left-radius: 0.625rem;
  font-family:
    SFMono-Regular,
    Consolas,
    Liberation Mono,
    Menlo,
    monospace;
  word-break: break-all;
  display: flex;
  justify-content: space-between;
}

.filename + pre {
  margin-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.line-numbers {
  counter-reset: step;
  counter-increment: step 0;
}

code.line-numbers .line::before {
  content: counter(step);
  counter-increment: step;
  width: 1em;
  margin-right: 1rem;
  display: inline-block;
  text-align: right;
  color: var(--shiki-line-numbers-color);
}

/* Ribbons */
.filename::after {
  position: relative;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -0.125rem;
  margin-bottom: -0.125rem;
  right: -1rem;
  padding-left: 1.5rem;
  padding-right: 1rem;
  color: var(--shiki-filename-background-color);
  font-size: 0.875rem;
  font-weight: 600;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    0 100%,
    0 calc(100%),
    var(--shiki-ribbon-indent) 50%,
    0 0
  );
}

.filename.javascript::after,
.filename.js::after {
  content: 'JS';
  background-color: #f5e090;
}

.filename.typescript::after,
.filename.ts::after {
  content: 'TS';
  background-color: #8fc2f5;
}

.filename.glimmer-js::after,
.filename.gjs::after {
  content: 'GJS';
  background-color: #f5e090;
}

.filename.glimmer-ts::after,
.filename.gts::after {
  content: 'GTS';
  background-color: #8fc2f5;
}

.filename.handlebars::after,
.filename.hbs::after {
  content: 'HBS';
  background-color: #c3f590;
}

/* Line highlighting */
.shiki .line.remove {
  background-color: rgba(244, 63, 94, 0.16);
  border-left: var(--shiki-diff-border-width) solid rgba(244, 63, 94, 0.5);
  padding: 0 calc(1rem - var(--shiki-diff-border-width));
  opacity: 0.8;
}

.shiki .line.add {
  background-color: rgba(16, 185, 129, 0.16);
  border-left: var(--shiki-diff-border-width) solid rgba(16, 185, 129, 0.5);
  padding: 0 calc(1rem - var(--shiki-diff-border-width));
}

.shiki code > .line {
  box-sizing: border-box;
  display: inline-block;
  min-width: 100%;
}

/* Diff view switcher styles */
.view-switch-container {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  display: flex;
  justify-content: end;
  z-index: 1;
}

.view-switcher-label {
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.1s;
  color: #f4f6f8;
  background-color: #2b2d34;
  user-select: none;
  border-right: 2px solid #2b2d34;
}

.view-switcher-label:first-of-type {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.view-switcher-label:last-of-type {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border-left: 0;
}

.view-switcher-label:hover {
  background-color: #42474f;
}

.view-switcher-label:active {
  background-color: #42474f;
}

.view-switcher-input:focus + .view-switcher-label {
  z-index: 1;
}

.view-switcher-input:checked + .view-switcher-label {
  background-color: #42474f;
}

.view-switcher-input {
  position: absolute;
  opacity: 0;
}

.shiki.has-diff:has(.view-after:checked) .line.diff.remove {
  display: none;
}

.shiki.has-diff:has(.view-before:checked) .line.diff.add {
  display: none;
}
